<nb-layout [withScroll]="false"  >

  <nb-layout-header style="height: 60px!important;"  subheader fixed>
    <a href="#" (click)="toggle()"><nb-icon icon="menu" ></nb-icon>
    </a>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items"  >
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column  class="colored-column-basic" style="padding: 0!important;">
  <div style="background: #002F5F; width: 100%; height: 30vh; "></div>

    <router-outlet></router-outlet>

  </nb-layout-column>

</nb-layout>

