<h3 mat-dialog-title>Ajouter un utilisateur</h3>
<form (ngSubmit)= "add()" name="form" #f="ngForm">
  <div mat-dialog-content>
    <mat-form-field style="width: 100%">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="user.username" required minlength="3" [ngClass]="{ 'is-invalid': Nom.invalid && Nom.touched }"
             #Nom="ngModel">

      <div class="invalid-feedback" *ngIf="Nom.errors?.required">
        Veuillez remplir ce champs !
      </div>

    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Mot de passe</mat-label>
      <input matInput  [(ngModel)]="user.password" required minlength="3" [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
             #email="ngModel">

      <div class="invalid-feedback" *ngIf="email.errors?.required">
        Veuillez remplir ce champs !
      </div>
    </mat-form-field>


    <mat-form-field style="width: 100%">
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="role" required>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Résidence</mat-label>
      <mat-select [(ngModel)]="user.residence" required>
        <mat-option *ngFor="let res of residences" [value]="res">
          {{res.nom}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button color="warn">Ajouter</button>

  </div>
</form>
