<!--
<div style="background: #3f51b5; padding-bottom: 90px" >
  <div class="flex-column d-flex " style="width: 100%">
    <div style="background: #3f51b5; text-align: center; width: 100%">
      <h1 style="color: white; text-align: center">{{title}}</h1>
      <h5  style="color: white; text-align: center" [matTooltip]="inf.title" *ngFor="let inf of infos">{{inf.body}}</h5>
    </div>
    <div class="col"  >
      <ol class="breadcrumb breadcrumbi" style="background: transparent!important; color: white">
        <li class="breadcrumb-item" style="color: white"
            *ngFor="let item of breadcrumbList; let i = index"
            [class.active]="i===breadcrumbList.length-1">
          <a [routerLink]="item.link" *ngIf="i!==breadcrumbList.length-1" style="color: white">
            {{ item.label }}
          </a>
          <span style="color: white" *ngIf="i===breadcrumbList.length-1">{{ item.label }}</span>
        </li>
      </ol>
    </div>
  </div>
  <mat-icon class="icono">{{icon}}</mat-icon>
</div>
<div style="background: #3f51b5; width: 100%; padding-bottom: 1em ">

</div>
-->

