<h3 mat-dialog-title>Ajouter une Residence</h3>
<form (ngSubmit)= "f.valid ? add() : showAlert()" name="form" #f="ngForm">
<div mat-dialog-content>
  <mat-form-field style="width: 100%">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="residence.nom"  required minlength="3" [ngClass]="{ 'is-invalid': Nom.invalid && Nom.touched }"
           #Nom="ngModel">

    <div class="invalid-feedback" *ngIf="Nom.errors?.required">
      Veuillez remplir ce champs !
    </div>

  </mat-form-field>

  <mat-form-field style="width: 100%">
      <mat-label>Region</mat-label>
      <mat-select [(ngModel)]="residence.region" required>
        <mat-option *ngFor="let region of regions" [value]="region">
          {{region}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-label>E-mail</mat-label>
    <input matInput  [(ngModel)]="residence.email" required minlength="3" [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
    #email="ngModel">

    <div class="invalid-feedback" *ngIf="email.errors?.required">
      Veuillez remplir ce champs !
    </div>
  </mat-form-field>

  <mat-label style="color: gray; padding: 20px 20px 20px 0">Logo: </mat-label>
  <span style="padding: 15px">
    <img height="100" style="cursor: pointer" matTooltip="importer image" src="{{filename}}" (click)="file.click()">
  </span>
  <input type="file" #file style="display: none"  accept="image/*" (change)="onFileChange($event.target)">

</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn">Ajouter</button>

</div>
</form>



